@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* Apply Garamond globally */
body, html,
h1, h2, h3, h4, h5, h6,
p, li, blockquote, span,
.site, .page, .entry-content, .page__content, .archive, .author__bio, .author__content, .author__name {
  font-family: 'EB Garamond', serif !important;
}

/* Links */
a {
  color: #111192;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}

a:hover {
  color: #660206;
  text-decoration: underline;
}
